body{
    background-color: white;
    font-size: 32px;
    font-family: "Inter";
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 95%;
}
main{
    display: flex; 
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}
.imageSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
#phoneBackgroundPattern{
    width: 100%;
}
#imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#patternImage{
    z-index: 1;
    width: 100%;
    height: auto;
    padding-top: 25px;
}
#testimonialImage{ 
    width: 70%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    z-index: 2;
}
#testimonialSelector{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    border-radius: 20px;
    z-index: 3;
    background-color: white;
    position: absolute;
    top: 320px;
}
#prevButton{
    padding-right: 8px;
    padding-left: 5px;
}
#nextButton{
    padding-left: 8px;
    padding-right: 5px;
}
#prevButton, #nextButton{ 
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.textSection{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#quoteSymbol{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#quoteText{
    z-index: 1;
    padding-top: 0px;
    font-size: 18px;
    text-align: center;
    color: hsla(240, 38%, 20%, 0.9);
    margin-top: -30px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

}
#testimonialNameAndRole{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#testimonialName{ 
    color: hsl(240, 38%, 20%);
    font-weight: bold;
    font-size: 22px; 
    margin-bottom: 5px;
}
#testimonialRole{
    font-size: 22px; 
    text-align: center;
    margin-top: 0px; 
    padding-top: 0px;
}
.attribution{
    font-size: 10px;
    padding: 0px;
    margin: 0px; 
}
.testimonialFooter{
    display: flex; 
    flex-direction: column;
    align-items: normal;
}
#testimonialCurve{
    width: 75%;
    height: auto;
}
@media screen and (min-width: 768px) {
    
    main{
        flex-direction: row-reverse;
        flex: 1;
        padding-left: 5%;
        padding-right: 5%;
    }
    .imageSection{
        width: 60%;
    }
    #testimonialImage{
        width: 40%;
        position: absolute; 
        right: 10%;
    }
    #testimonialSelector{
        width: 10%;
    }
    .textSection{
        width: 35%;
        margin-top: 0px;
        justify-content: center;
    }
    #quoteText{
        text-align: left;
        font-size: 28px;
        width: 140%;
        z-index: 4;
        padding-left: 60%;
        font-weight: lighter;
        line-height: 1.5;
    }
    #testimonialNameAndRole{
        flex-direction: row;
        width: 100%;
        justify-content: left;
        margin-top: 10%;
   }
    #testimonialName{
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        margin-right: 10px;
        padding-left: 7.5%;
    }
    #testimonialRole{
        margin: 0px;
        padding: 0px;
        text-align: left;
        font-size: 18px;
    }
    .testimonialFooter{
        flex: 1;
        height: 100%;
        justify-content: left;
        align-items: start;
    }
    #testimonialCurve{
        height: 120px;  
        width: auto;
    }
}